<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @holiday.from %>
</p>

<p>
  <b>To:</b>
  <%= @holiday.to %>
</p>


<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
